/* Reset de estilos */
body, h1, h2, p, label, select, input, button, date {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* background-image: url("virus.gif"); */
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o fundo */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
  }
  
  body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: #a2d3fc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
    max-width: 700px; /* Aumente o valor para deixar mais largo */
    max-height: 700px;
    margin: 0 auto;
  }
  
  h1 {
    color: #333;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #666;
  }
  
  select,
  input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  canvas {
    max-width: 100%;
    margin: 20px auto;
  }

  #myChart {
    background-color: #f4f4f4;
  }
  
  /* Alterar a cor das barras do gráfico */
  .chartjs-render-monitor .bar {
    background-color: rgba(75, 192, 192, 0.7);
    border-color: rgba(75, 192, 192, 1);
  }
  
  /* Alterar a cor das labels do eixo X */
  .chartjs-render-monitor .axis-label-x {
    color: #333;
  }
  
  /* Alterar a cor das labels do eixo Y */
  .chartjs-render-monitor .axis-label-y {
    color: #333;
  }
  
  /* Alterar a cor do título do gráfico */
  .chartjs-render-monitor .chart-title {
    color: #007bff;
    font-size: 18px;
  }
  